<!--
  Generated template for the Register page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>Register</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
   <ion-card>

      <form #registerForm="ngForm" novalidate>
        <ion-item>
          <ion-label floating color="primary">Full Name</ion-label>
          <ion-input [(ngModel)]="register.username" name="username" type="text" #username="ngModel" required clearInput="true"></ion-input>
        </ion-item>
        <div [hidden]="username.valid || username.untouched" >
          <p  *ngIf="username.errors && username.errors.required" color="danger" padding-left>
            Password is required
          </p>
        </div>

        <ion-item>
          <ion-label floating color="primary">Password</ion-label>
          <ion-input [(ngModel)]="register.password" name="password" type="password" #password="ngModel" required clearInput="true"></ion-input>
        </ion-item>
        <div [hidden]="password.valid || password.untouched" >
          <p  *ngIf="password.errors && password.errors.required" color="danger" padding-left>
            Password is required
          </p>
        </div>

        <ion-item>
          <ion-label floating color="primary">Email Address</ion-label>
          <ion-input [(ngModel)]="register.email" name="email" type="text" #email="ngModel" required clearInput="true">
          </ion-input>
        </ion-item>
        <div [hidden]="email.valid || email.untouched" >
          <p  *ngIf="email.errors && email.errors.required" color="danger" padding-left>
            Email is required
          </p>
          <p *ngIf="email.errors && email.errors.pattern" color="danger" padding-left>
            Email is invalid
          </p>
        </div>

        <ion-item>
          <ion-label floating color="primary">Mobile Number</ion-label>
          <ion-input [(ngModel)]="register.phone" name="phone" type="text" #phone="ngModel" clearInput="true"  required pattern="^[0-9]*$">
          </ion-input>
        </ion-item>
        <div [hidden]="phone.valid || phone.untouched" >
           <p  *ngIf="phone.errors && phone.errors.required" color="danger" padding-left>
            Mobile Number is required
          </p>              
          <p *ngIf="phone.errors && phone.errors.pattern" color="danger" padding-left>
            Mobile Number is invalid. Enter a valid Phone number
          </p>
          </div>
        

        <div padding>
          <button ion-button (click)="onSubmit(registerForm)" type="submit" color="danger" block>Register</button>
        </div>

      </form>
  </ion-card>

</ion-content>
