<!--
  Generated template for the Score page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="danger">
    <ion-title>{{score.cardType}}</ion-title> 
  </ion-navbar>

</ion-header>


<ion-content >

  <ion-card>
  
    <img src="img/{{animalModel.cardType}}.jpg"/>
    <ion-card-content>
      
            <div *ngIf="!animalModel.showInput" >
              <p color="danger">Do you have this card.</p>
              <button (click)="AnimalYes()" ion-button color="danger" small >Yes</button>
              <button (click)="AnimalNo()" ion-button color="danger" small >No</button>
            </div>
            
            <div *ngIf="animalModel.showInput" >
            <ion-list >              
                <ion-item>
                  <ion-label floating>How many do you have?</ion-label>
                  <ion-input [(ngModel)]="animalModel.cardsCount" type="text"></ion-input>
                </ion-item>
            </ion-list> 
            <div>            
              <button (click)="CountSubmit()" ion-button color="danger" small >Submit</button>
            </div>
            </div>
        
        </ion-card-content>
  </ion-card>

  
  

</ion-content>
